{{- $page := . -}}
{{- $mobile := false -}}
{{- if and (reflect.IsMap .) (isset . "context") -}}
  {{- $page = .context -}}
  {{- $mobile = .mobile | default false -}}
{{- end -}}
{{- range $page.Site.Menus.main -}}
	{{- if .HasChildren -}}
		{{- if $mobile -}}<li>{{- end -}}<a href="{{ .URL | absLangURL }}" class="has-children">{{ .Name }}</a>{{- if $mobile -}}</li>{{- end -}}
		{{- if $mobile -}}<span class="sub-menu mobile"> {{- else -}} <span class="sub-menu">{{- end -}} 
		{{- range .Children -}}
			{{- if $mobile -}}<li>{{- end -}}<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>{{- if $mobile -}}</li>{{- end -}}
		{{- end -}}
		</span>
	{{- else -}}
		{{- if $mobile -}}<li>{{- end -}}<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>{{- if $mobile -}}</li>{{- end -}}
	{{- end -}}
{{- end -}}
