.admonition{
    position: relative;
    margin: 1rem 0 1.5rem 0;
    border-left: .25rem solid map-get($admonition-color, 'note');
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    border-radius: 0 8px 8px 0;
    overflow: auto;
    .admonition-title{
        padding: .25rem .50rem;
        border-bottom: 1px solid map-get($admonition-background, 'note');
        background-color: rgba(map-get($admonition-background, 'note'), 0.1);
        color: map-get($admonition-color, 'note');
        .icon{
            display: inline-block;
            padding: 0 10px 0 0;
            font-size: 0.85rem;
            color: map-get($admonition-color, 'note');
        }
    }
    .admonition-content{
        padding: .25rem .50rem;
    }
    @each $type, $color in $admonition-color {
        &.#{$type} {
          border-left-color: $color;
          .admonition-title {
            color: $color;
          }
          .icon {
            color: $color;
          }
        }
    }
    @each $type, $color in $admonition-background {
        &.#{$type} {
          background-color: $color;
    
          .admonition-title {
            border-bottom-color: $color;
            background-color: rgba($color, 0.1);
          }
          }
        }
}