#share-links {
  position: fixed;
  bottom: 7em;
  right: 0.5em;
  display: none;
  padding: 0.6em 0.5em;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: -1px -2px 3px 0px rgba(0, 0, 0, 0.45);
  background-color: $share-links-background;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
    font-size: 1.2em;
    a {
      color: $share-links-a;
      &:hover,
      &:active,
      &:focus {
        color: $share-links-a-hover-active-focus;
      }
    }
  }
}

@media (max-width: 520px) {
  #share-links {
    right: 0.2em;
    bottom: 8em;
  }
}
