{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin {{- if ne false .Site.Params.usesAnimation }} animated fadeIn faster{{- end -}}">
		<h1>{{ .Title }}</h1>
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}

		{{- if and (ge (len (where .Site.Pages ".Params.pin" true)) 1) (.Site.Params.pinned) (not (in .Page.RelPermalink (or "tags" "categories"))) -}}
		<h2>{{- .Site.Params.pinned -}}</h2>
		<div class="pinned-posts-group">
			<ul class="pinned-posts-list">
				{{- range where .Site.Pages ".Params.pin" true }}
				<li class="pinned-post-item">
					{{- partial "svg.html" (dict "context" . "name" (.Site.Params.pinnedSVGname | default "pin")) }}
					<a href="{{.Permalink}}"><span class="post-title">{{.Title}}</span></a>
				</li>
				{{- end }}
			</ul>
		</div>
		{{- end -}}
		{{- range .Data.Pages.GroupByDate "2006" }}
		{{ $pages := len (.Pages) }}
		{{ $pages_pin := len ( where .Pages ".Params.pin" "eq" true) }}
		{{- if gt $pages $pages_pin -}}
		<div class="posts-group">
			<div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
			<ul class="posts-list">
				{{- range where .Pages ".Params.pin" "ne" true }}
				<li class="post-item">
					<a href="{{.Permalink}}">
						<span class="post-title">{{.Title}}</span>
						<span class="post-day">{{ .Date.Format .Site.Params.dateformShort }}</span>
					</a>
					{{- if and .Page.Params.description .Site.Params.descriptionInPosts -}}
					<span class="post-description">{{ .Page.Params.description }}</span>
					{{- end -}}
				</li>
				{{- end }}
			</ul>
		</div>
		{{- end -}}
		{{- end }}
	</main>
{{ end }}
{{ define "footer" }}<footer id="site-footer" class="section-inner thin {{- if ne false .Site.Params.usesAnimation }} animated fadeIn faster {{- end -}}">{{- if templates.Exists "partials/list-footer.html" -}}{{- partialCached "list-footer.html" . -}}{{- else -}}{{- partial "footer.html" . -}}{{- end -}}</footer>
{{ end }}
