{{ define "head" }}
	{{ if .Params.featuredImg -}}
	<style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
	{{- else if .Params.images -}}
		{{- range first 1 .Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	{{- if (or .Params.images .Params.featuredImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<main class="site-main section-inner animated fadeIn faster">
		{{- if and (not (eq .Site.Params.legacyLayout nil)) (.Site.Params.legacyLayout) -}}
		<article class="thin">
			<header class="post-header">
				<div class="post-meta"><span>{{ .Date.Format .Site.Params.dateform }}</span></div>
				<h1>{{ .Title }}</h1>
			</header>
			<div class="content">
				{{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg></a>${3}` | safeHTML }}
			</div>
			{{- if .Site.Params.relatedPosts }}
			{{- partial "related-posts.html" . -}}
			{{- end }}
			<hr class="post-end">
			<footer class="post-info">{{- partial "posts_single_info.html" . -}}</footer>		
		</article>
		{{- else -}}
		<article class="thin">
			<header class="post-header">
				<div class="post-meta"><span>{{ .Date.Format .Site.Params.dateform }}</span></div>
				<h1>{{ .Title }}</h1>
			</header>
			<div class="post-info">{{- partial "posts_single_info.html" . -}}</div>
			<hr class="post-end">
			<div class="content">
				{{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg></a>${3}` | safeHTML }}
			</div>
			{{- if .Site.Params.relatedPosts }}
			{{- partial "related-posts.html" . -}}
			{{- end }}
		</article>
		{{- end -}}
		{{- if .Params.toc }}
		<aside id="toc">
			<div class="toc-title">{{ i18n "tableOfContents" }}</div>
			{{ .TableOfContents }}
		</aside>
		{{- end }}
		<div class="post-nav thin">
			{{- with .NextInSection }}
			<a class="next-post" href="{{ .Permalink }}">
				<span class="post-nav-label">{{- partial "svg.html" (dict "context" . "name" "next") -}}&nbsp;{{ i18n "newer" }}</span><br><span>{{ .Title }}</span>
			</a>
			{{- end }}
			{{- with .PrevInSection }}
			<a class="prev-post" href="{{ .Permalink }}">
				<span class="post-nav-label">{{ i18n "older" }}&nbsp;{{- partial "svg.html" (dict "context" . "name" "previous") -}}</span><br><span>{{ .Title }}</span>
			</a>
			{{- end }}
		</div>
		<div id="comments" class="thin">
		{{- partial "comments.html" . -}}
		</div>
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}