	<header id="site-header" class="animated slideInUp">
		<div class="hdr-wrapper section-inner">
			<div class="hdr-left">
				<div class="site-branding">
					<a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a>
				</div>
				<nav class="site-nav hide-in-mobile">{{- partialCached "menu.html" . -}}</nav>
			</div>
			<div class="hdr-right hdr-icons">
				{{ if (or .Params.images .Params.featuredImg) -}}
				<button id="img-btn" class="hdr-btn" title="{{i18n "featuredImage"}}">{{- partial "svg.html" (dict "context" . "name" "featuredImg") -}}</button>
				{{- end }}
				{{- with .Params.toc -}}
				<button id="toc-btn" class="hdr-btn desktop-only-ib" title="{{i18n "tableOfContents"}}">{{- partial "svg.html" (dict "context" . "name" "toc") -}}</button>
				{{- end -}}
				{{- with .Site.Params.socialLinks -}}
				<span class="hdr-social hide-in-mobile">{{- partialCached "social-icons.html" . -}}</span>
				{{- end -}}
				{{- if and (not (eq .Site.Params.shareSocial nil)) (.Site.Params.shareSocial) -}}{{- partial "social-share.html" . -}}{{- end -}}
				<button id="menu-btn" class="hdr-btn" title="{{i18n "menu"}}">{{- partial "svg.html" (dict "context" . "name" "menuBtn") -}}</button>
			</div>
		</div>
	</header>
	<div id="mobile-menu" class="animated fast">
		<ul>
			{{- range .Site.Menus.main }}
			<li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
			{{- end }}
		</ul>
	</div>
